<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/stylesheets/materialize.min.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/stylesheets/dashStyle.css" media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<header>
    <div class="navbar-fixed">
        <nav class="navbar top-nav app_primary_color">
            <div class="nav-wrapper">
                <a href="#" class="right dropdown-trigger padding-2" data-target="user-dropdown"><span
                            class="black-text name user_font_topnav"><%= user %><i class="material-icons right">arrow_drop_down</i></span></a>
                <a href="#" data-target="sidenav-left" class="sidenav-trigger left"><i
                            class="material-icons black-text">menu</i></a>
            </div>
        </nav>
    </div>

    <ul id="user-dropdown" class="dropdown-content dropdown_offset">
        <li><a class="" id="#api_btn">Api Keys</a></li>
        <li class="divider"></li>
        <li><a class="" id="#logout_btn">Logout</a></li>
    </ul>

    <ul id="sidenav-left" class="sidenav sidenav-fixed app_primary_color">
        <li>
            <div class="user-view margin-bot-20">
                <a href="#"><img class="center_logo_sidenav sidenav-close" src="imgs/ShoppingHelperIcon-black.svg"
                                 alt="ShoppingHelperLogo"></a>
                <a href="#" class="black-text name appname_font_sidenav center"><%= title %> Web</a>
            </div>
        </li>
        <li>
            <div class="divider black"></div>
        </li>
        <li><a class="sidenav-close" id="#pList_btn" href="#"><i class="material-icons">list</i>Products List</a></li>
        <li><a class="sidenav-close" id="#sList_btn" href="#"><i class="material-icons">storefront</i>Shops List</a>
        </li>
        <li>
            <div class="divider black shortened"></div>
        </li>
        <li><a class="sidenav-close" id="#nProduct_btn" href="#"><i class="material-icons">playlist_add</i>New
                Product</a></li>
        <li><a class="sidenav-close" id="#nShop_btn" href="#"><i class="material-icons">add_business</i>New Shop</a>
        </li>
        <li>
            <div class="divider black shortened"></div>
        </li>
        <li><a class="sidenav-close" id="#nSale_btn" href="#"><i class="material-icons">add</i>Record sale</a></li>
    </ul>
</header>
<main>
    <div class="container hidden-titles">
        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s2"><a class="active" href="#Start"></a></li>
                    <li class="tab col s2"><a href="#pList">Products List</a></li>
                    <li class="tab col s2"><a href="#sList">Shops List</a></li>
                    <li class="tab col s2"><a href="#nProduct">New Product</a></li>
                    <li class="tab col s2"><a href="#nShop">New Shop</a></li>
                    <li class="tab col s2"><a href="#rSale">Record sale</a></li>
                </ul>
            </div>

            <!-- Welcome message tab -->
            <div id="Start" class="col s12">
                <div class="tabs_content">
                    <h1><%= title %> Web</h1>
                    <p>Welcome <%= user %></p>
                    <p>To start please select a voice from the menu on the left</p>
                </div>
            </div>
            <!-- Welcome message tab -->

            <!-- Products List tab -->
            <div id="pList" class="col s12">
                <div class="tabs_content">
                    <div class="row">
                        <h2>Products List</h2>
                    </div>
                    <table class="striped scrollable minWidth">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Best Price</th>
                            <th>Last Updated</th>
                            <th>Details</th>
                        </tr>
                        </thead>
                        <tbody id="pListTableBody"></tbody>
                    </table>
                </div>
            </div>
            <!-- Products List tab -->

            <!-- Shops List tab -->
            <div id="sList" class="col s12">
                <div class="tabs_content">
                    <div class="row">
                        <h2>Shops List</h2>
                    </div>
                    <table class="striped scrollable minWidth">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Location</th>
                            <th>Details</th>
                        </tr>
                        </thead>
                        <tbody id="sListTableBody" class="scrollable minWidth"></tbody>
                    </table>
                </div>
            </div>
            <!-- Shops List tab -->

            <!-- Add New Product tab -->
            <div id="nProduct" class="col s12">
                <div class="tabs_content">
                    <div class="row">
                        <h2>New Product Registration</h2>
                    </div>
                    <div class="row">
                        <form id="newProductForm" class="col s12">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="productBarcode" type="text" data-length="13">
                                    <label for="productBarcode">Barcode</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="productName" type="text">
                                    <label for="productName">Product Name</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="productBrand" type="text">
                                    <label for="productBrand">Brand</label>
                                </div>
                            </div>
                            <div class="row">
                                <a id="addProd_btn"
                                   class="waves-effect waves-light app_primary_color darken-4 btn submit_btn">Add</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Add New Product tab -->

            <!-- Add New Shop tab -->
            <div id="nShop" class="col s12">
                <div class="tabs_content">
                    <div class="row">
                        <h2>New Shop Registration</h2>
                    </div>
                    <div class="row">
                        <form id="newShopForm" class="col s12">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="shopName" type="text">
                                    <label for="shopName">Shop Name</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s9">
                                    <input id="shopStreetName" type="text">
                                    <label for="shopStreetName">Street Name</label>
                                </div>
                                <div class="input-field col s3">
                                    <input id="shopStreetNumber" type="text">
                                    <label for="shopStreetNumber">Street Number</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s4">
                                    <input id="shopZIP" type="text">
                                    <label for="shopZIP">ZIP Code</label>
                                </div>
                                <div class="input-field col s8">
                                    <input id="shopCity" type="text">
                                    <label for="shopCity">City</label>
                                </div>
                            </div>
                            <div class="row">
                                <a id="addShop_btn"
                                   class="waves-effect waves-light app_primary_color darken-4 btn submit_btn">Add</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Add New Shop tab -->

            <!-- Register New Sale tab -->
            <div id="rSale" class="col s12">
                <div class="tabs_content">
                    <div class="row">
                        <h2>New Sale Registration</h2>
                    </div>
                    <div class="row">
                        <form id="rSaleForm" class="col s12">
                            <div class="row">
                                <div id="shopSel_btn" class="input-field col s12">
                                    <input id="shopSel" type="text">
                                    <label id="shopSelLabel" for="shopSel">Select a Shop</label>
                                </div>
                            </div>
                            <div class="row">
                                <div id="productSel_bnt" class="input-field col s12">
                                    <input id="productSel" type="text">
                                    <label id="productSelLabel" for="productSel">Select a product</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s4">
                                    <input id="prodPrice" type="number" min="0" step=".01">
                                    <label for="prodPrice">Price</label>
                                </div>
                                <div class="input-field col s4">
                                    <input id="prodQuantity" type="number" min="1" step="1">
                                    <label for="prodQuantity">Quantity</label>
                                </div>
                                <div class="input-field col s4">
                                    <input id="prodPricePerUnit" type="number" min="0" step=".01">
                                    <label for="prodPricePerUnit">Price Per Unit</label>
                                </div>
                            </div>
                            <div class="row">
                                <p class="submit_btn">
                                    <label>
                                        <input type="checkbox" id="isOnSale"/>
                                        <span>On Sale</span>
                                    </label>
                                </p>
                            </div>
                            <div class="row">
                                <a id="rSale_btn"
                                   class="waves-effect waves-light app_primary_color darken-4 btn submit_btn">Register</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Register New Sale tab -->

            <!-- Product Details modal section -->
            <div id="modalProdDetails" class="modal modal-fixed-footer">
                <div class="modal-content">
                    <div class="row">
                        <h3 id="modalProdDetailsTitle"></h3>
                    </div>
                    <div class="row">
                        <h5>Details</h5>
                        <table class="scrollable minWidth">
                            <tbody id="modalProdDetailsTableBody"></tbody>
                        </table>
                    </div>
                    <div class="row">
                        <h5>Sold in these shops</h5>
                        <table class="striped scrollable minWidth">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Location</th>
                                <th>Price</th>
                                <th>Last Update</th>
                            </tr>
                            </thead>
                            <tbody id="modalProdDetailsShopListTableBody"></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
            </div>
            <!-- Product Details modal section -->

            <!-- Shop Details modal section -->
            <div id="modalShopDetails" class="modal modal-fixed-footer">
                <div class="modal-content">
                    <div class="row">
                        <h3 id="modalShopDetailsTitle"></h3>
                    </div>
                    <div class="row">
                        <h5>Details</h5>
                        <table class="scrollable minWidth">
                            <tbody id="modalShopDetailsTableBody"></tbody>
                        </table>
                    </div>
                    <div class="row">
                        <h5>Products Sold In This Shop</h5>
                        <table class="striped scrollable minWidth">
                            <thead>
                            <tr>
                                <th>Barcode</th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Last Update</th>
                            </tr>
                            </thead>
                            <tbody id="modalShopDetailsProdListTableBody"></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
            </div>
            <!-- Shop Details modal section -->

            <!-- Product Selection modal section -->
            <div id="modalProdSelection" class="modal modal-fixed-footer">
                <div class="modal-content">
                    <div class="row">
                        <h3>Select a Product From The List</h3>
                    </div>
                    <div class="row">
                        <table class="striped scrollable minWidth">
                            <thead>
                            <tr>
                                <th>Select</th>
                                <th>Barcode</th>
                                <th>Name</th>
                            </tr>
                            </thead>
                            <form action="#" id="modalShopSelectionForm">
                                <tbody id="modalProductSelectionTableBody"></tbody>
                            </form>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="modal-close waves-effect red-text waves-red btn-flat">Cancel</a>
                    <a id="modalProdSelectionYes" href="#" class="waves-effect waves-green btn-flat">Select</a>
                </div>
            </div>
            <!-- Product Selection modal section -->

            <!-- Shop Selection modal section -->
            <div id="modalShopSelection" class="modal modal-fixed-footer">
                <div class="modal-content">
                    <div class="row">
                        <h3>Select a Shop From The List</h3>
                    </div>
                    <div class="row">
                        <table class="striped scrollable minWidth">
                            <thead>
                            <tr>
                                <th>Select</th>
                                <th>Name</th>
                                <th>Location</th>
                            </tr>
                            </thead>
                            <form action="#">
                                <tbody id="modalShopSelectionTableBody"></tbody>
                            </form>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="modal-close waves-effect red-text waves-red btn-flat">Cancel</a>
                    <a id="modalShopSelectionYes" href="#" class="waves-effect waves-green btn-flat">Select</a>
                </div>
            </div>
            <!-- Shop Selection modal section -->

            <!-- Edit Shop modal section -->
            <div id="modalEditShop" class="modal modal-fixed-footer">
                <div class="modal-content">
                    <h3 id="modalEditShopTitle"></h3>
                    <form id="modalEditShopForm" class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="modalEditShopID" type="hidden">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="modalEditShopName" type="text">
                                <label id="modalEditShopNameLabel" for="modalEditShopName" class="active">Shop
                                    Name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s9">
                                <input id="modalEditShopStreetName" type="text">
                                <label id="modalEditShopStreetNameLabel" for="modalEditShopStreetName" class="active">Street
                                    Name</label>
                            </div>
                            <div class="input-field col s3">
                                <input id="modalEditShopStreetNumber" type="text">
                                <label id="modalEditShopStreetNumberLabel" for="modalEditShopStreetNumber"
                                       class="active">Street Number</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s4">
                                <input id="modalEditShopZIP" type="text">
                                <label id="modalEditShopZIPLabel" for="modalEditShopZIP" class="active">ZIP Code</label>
                            </div>
                            <div class="input-field col s8">
                                <input id="modalEditShopCity" type="text">
                                <label id="modalEditShopCityLabel" for="modalEditShopCity" class="active">City</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a href="#" class="modal-close waves-effect red-text waves-red btn-flat">Cancel</a>
                    <a id="modalEditShopConfirm" href="#" class="waves-effect waves-green btn-flat">Confirm</a>
                </div>
            </div>
            <!-- Edit Shop modal section -->

            <!-- Edit Product modal section -->
            <div id="modalEditProduct" class="modal modal-fixed-footer">
                <div class="modal-content">
                    <h3 id="modalEditProductTitle"></h3>
                    <form id="modalEditProductForm" class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="modalEditProductBarcode" type="hidden">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="modalEditProductName" type="text">
                                <label id="modalEditProductNameLabel" for="modalEditProductName"
                                       class="active">Name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="modalEditProductBrand" type="text">
                                <label id="modalEditProductBrandLabel" for="modalEditProductBrand"
                                       class="active">Brand</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a href="#" class="modal-close waves-effect red-text waves-red btn-flat">Cancel</a>
                    <a id="modalEditProductConfirm" href="#" class="waves-effect waves-green btn-flat">Confirm</a>
                </div>
            </div>
            <!-- Edit Product modal section -->

            <!-- Delete modal section -->
            <div id="modalDelete" class="modal">
                <div class="modal-content">
                    <h3 id="modalDeleteTitle"></h3>
                    <form id="modalDeleteForm" class="col s12">
                        <input id="modalDeleteType" type="hidden" value="0">
                        <input id="modalDeleteIdentifier" type="hidden">
                    </form>
                </div>
                <div class="modal-footer">
                    <a href="#" class="modal-close waves-effect red-text waves-red btn-flat">Cancel</a>
                    <a id="modalDeleteConfirm" href="#" class="waves-effect waves-green btn-flat">Confirm</a>
                </div>
            </div>
            <!-- Delete modal section -->

            <!-- Api Keys modal section -->
            <div id="modalApiKeys" class="modal modal-fixed-footer">
                <div class="modal-content">
                    <div class="row">
                        <h3>List of Currently Active Api Keys</h3>
                    </div>
                    <div class="row">
                        <table class="striped scrollable minWidth">
                            <thead>
                            <tr>
                                <th>Api Key</th>
                                <th>Generated</th>
                            </tr>
                            </thead>
                            <tbody id="modalApiKeysTableBody"></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
            </div>
            <!-- Api Keys modal section -->

            <!-- Logout modal section -->
            <div id="modalLogout" class="modal">
                <div class="modal-content">
                    <h3>Do you really want to log out?</h3>
                </div>
                <div class="modal-footer">
                    <a href="#" class="modal-close waves-effect red-text waves-red btn-flat">No</a>
                    <a id="modalLogoutYes" href="#" class="waves-effect waves-green btn-flat">Yes</a>
                </div>
            </div>
            <!-- Logout modal section -->

            <!-- Update modal section -->
            <div id="modalUpdate" class="modal">
                <div class="modal-content">
                    <h3 id="modalUpdateQuestion"></h3>
                </div>
                <div class="modal-footer">
                    <a href="#" class="modal-close waves-effect red-text waves-red btn-flat">No</a>
                    <a id="modalUpdateYes" href="#" class="waves-effect waves-green btn-flat">Yes</a>
                </div>
            </div>
            <!-- Update modal section -->

        </div>
    </div>
</main>
<script type="text/javascript" src="/js/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="/js/materialize.min.js"></script>
<script type="text/javascript" src="/js/dash.js"></script>
</body>
</html>